.maindivcontainer {
  background-color: white;
  display: flex;
  position: fixed;
  width: 85%;
  height: 90%;
  top: 17%;
  left: 6%;
  color: orange;
}

.title {
  display: flex;
  position: absolute;
  left: 27%;
}

.insuranceinfo {
  position: absolute;
  right: 32%;
  font-size: large;
}

.hiddenbutton {
  display: none;
  position: absolute;
}

.custombutton {
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: orange;
  bottom: 15%;
  right: 52%;
}

.uploadbutton {
  position: absolute;
  bottom: 9%;
  right: 45%;
}

.imagediv {
  background-color: blueviolet;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 15%;
}

.previewimage {
display: flex;
position: absolute;
background-color: yellow;
border: solid yellow 3px;
box-shadow: orange 4px 4px;
max-width: 60%;
max-height: 60%;
bottom: 30%;
right: 28%;
}

.selectedfile {
  display: flex;
  position: absolute;
  right: 32%;
  bottom: 14%;
}

.predictioncontainer {
  position: absolute;
  right: 15%;
  background-color: yellow;
  width: 10%;
  height: 30%;
  top: 30%;
  padding: 10px;
  border: 2px solid black;
}

.predictiontitle {
  
}